@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* import mixins */
/* border radius minxins */
/* box-sizing mixin */
/* transition mixin */
/* box-shadow mixin */
/* import color */
/* style default placeholder styles */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #909193; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #f7f7f7; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #f7f7f7; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #f7f7f7; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #00A69C; }
  body .container {
    width: 80%; }
  body #chat-app-body {
    max-height: 550px;
    width: 100%;
    margin: 170px 0;
    float: left;
    overflow: auto;
    background-color: #f1f1f2;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 0px 15px rgba(88, 85, 85, 0.68);
    -moz-box-shadow: 0 0px 15px rgba(88, 85, 85, 0.68);
    box-shadow: 0 0px 15px rgba(88, 85, 85, 0.68); }
    body #chat-app-body .app-left-block {
      float: left;
      width: 30%;
      height: 100%;
      overflow: hidden;
      -webkit-border-bottom-left-radius: 7px;
      -moz-border-bottom-left-radius: 7px;
      -ms-border-bottom-left-radius: 7px;
      border-bottom-left-radius: 7px; }
      body #chat-app-body .app-left-block .app-header-left {
        height: 65px;
        background-color: #f7f7f7;
        -webkit-border-top-left-radius: 7px;
        -moz-border-top-left-radius: 7px;
        -ms-border-top-left-radius: 7px;
        border-top-left-radius: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-bottom-left-radius: 7px;
        -ms-border-bottom-left-radius: 7px;
        border-bottom-left-radius: 7px; }
      body #chat-app-body .app-left-block .app-header-buttons {
        float: left;
        width: 100%;
        background-color: #E6E7E8;
        position: relative; }
        body #chat-app-body .app-left-block .app-header-buttons .search-chat-users {
          position: absolute;
          top: 0px;
          width: 98%;
          border-radius: 0;
          border: 0;
          height: 0px;
          left: 0;
          right: 0;
          margin: auto;
          padding: 7px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          body #chat-app-body .app-left-block .app-header-buttons .search-chat-users:focus {
            outline: 0; }
        body #chat-app-body .app-left-block .app-header-buttons.open .search-chat-users {
          height: 35px;
          top: -39px; }
        body #chat-app-body .app-left-block .app-header-buttons a {
          width: 33%;
          float: left;
          padding: 0;
          text-align: center;
          height: 45px;
          line-height: 45px;
          background-color: #E6E7E8;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          body #chat-app-body .app-left-block .app-header-buttons a:not(:nth-child(3)) {
            margin: 0;
            border-left: 1px solid #d1d3d4; }
          body #chat-app-body .app-left-block .app-header-buttons a.active, body #chat-app-body .app-left-block .app-header-buttons a.search-contacts[aria-expanded="true"] {
            background-color: #5DC3B5; }
          body #chat-app-body .app-left-block .app-header-buttons a:hover {
            background-color: #5DC3B5; }
          body #chat-app-body .app-left-block .app-header-buttons a img {
            height: 20px; }
        body #chat-app-body .app-left-block .app-header-buttons .msg {
          background: url("../images/speech.png") no-repeat;
          background-position: 50% 50%;
          background-size: 24px; }
        body #chat-app-body .app-left-block .app-header-buttons .contacts {
          background: url("../images/user.png") no-repeat;
          background-position: 50% 50%;
          background-size: 24px; }
          body #chat-app-body .app-left-block .app-header-buttons .contacts.active, body #chat-app-body .app-left-block .app-header-buttons .contacts.search-contacts[aria-expanded="true"], body #chat-app-body .app-left-block .app-header-buttons .contacts:hover {
            background: #5DC3B5 url("../images/user-active.png") no-repeat;
            background-position: 50% 50%;
            background-size: 24px; }
        body #chat-app-body .app-left-block .app-header-buttons .search-contacts {
          background: url("../images/search.png") no-repeat;
          background-position: 50% 50%;
          background-size: 24px; }
          body #chat-app-body .app-left-block .app-header-buttons .search-contacts.active, body #chat-app-body .app-left-block .app-header-buttons .search-contacts[aria-expanded="true"], body #chat-app-body .app-left-block .app-header-buttons .search-contacts:hover {
            background: #5DC3B5 url("../images/search-active.png") no-repeat;
            background-position: 50% 50%;
            background-size: 24px; }
      body #chat-app-body .app-left-block .nav-tabs {
        height: 440px;
        overflow-y: auto;
        float: left;
        width: 100%;
        -webkit-border-bottom-left-radius: 7px;
        -moz-border-bottom-left-radius: 7px;
        -ms-border-bottom-left-radius: 7px;
        border-bottom-left-radius: 7px; }
        body #chat-app-body .app-left-block .nav-tabs .search-chat-users {
          width: 100%;
          border: 0;
          height: 35px;
          background-color: #fff;
          float: left;
          padding: 5px; }
          body #chat-app-body .app-left-block .nav-tabs .search-chat-users:focus {
            outline: 0; }
        body #chat-app-body .app-left-block .nav-tabs li {
          width: 100%;
          height: 74px;
          background: #fff; }
          body #chat-app-body .app-left-block .nav-tabs li.active, body #chat-app-body .app-left-block .nav-tabs .app-header-buttons li.search-contacts[aria-expanded="true"], body #chat-app-body .app-left-block .app-header-buttons .nav-tabs li.search-contacts[aria-expanded="true"] {
            background-color: #f7f7f7; }
            body #chat-app-body .app-left-block .nav-tabs li.active a, body #chat-app-body .app-left-block .nav-tabs .app-header-buttons li.search-contacts[aria-expanded="true"] a, body #chat-app-body .app-left-block .app-header-buttons .nav-tabs li.search-contacts[aria-expanded="true"] a {
              background-color: #f7f7f7; }
          body #chat-app-body .app-left-block .nav-tabs li.new-msg a .app-left-block-body .app-left-block-main .app-left-block-name {
            width: 80%; }
            body #chat-app-body .app-left-block .nav-tabs li.new-msg a .app-left-block-body .app-left-block-main .app-left-block-name h4 {
              color: #909193; }
            body #chat-app-body .app-left-block .nav-tabs li.new-msg a .app-left-block-body .app-left-block-main .app-left-block-name small {
              color: #5DC3B5; }
          body #chat-app-body .app-left-block .nav-tabs li.new-msg:before {
            content: "1";
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 20px;
            border-radius: 0;
            line-height: 20px;
            text-align: center;
            padding: 0;
            font-size: 12px;
            z-index: 9;
            color: #fff;
            font-weight: bold;
            background-color: #F65349; }
          body #chat-app-body .app-left-block .nav-tabs li a {
            margin: 0;
            border: 0;
            background-color: #fff;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            border-radius: 0px; }
            body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body {
              position: relative;
              padding: 0;
              margin-top: 6px; }
              body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-avatar .avatar-icon {
                position: relative;
                height: 100%; }
                body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-avatar .avatar-icon:before {
                  content: "";
                  position: absolute;
                  top: 0px;
                  left: 0;
                  width: 12px;
                  height: 12px;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  border-radius: 50%;
                  background-color: #5DC3B5; }
                body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-avatar .avatar-icon img {
                  width: 100%;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  -ms-border-radius: 50%;
                  border-radius: 50%; }
                body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-avatar .avatar-icon.offline:before {
                  background-color: #F65349; }
              body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-time {
                position: absolute;
                top: -11px;
                right: 10px;
                padding-right: 0; }
                body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-time .time-meta {
                  color: #d7d8d8;
                  font-size: 10px; }
              body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-main {
                padding-left: 0; }
                body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-main .app-left-block-name {
                  width: 90%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis; }
                  body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-main .app-left-block-name h4 {
                    color: #5DC3B5;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 3px;
                    margin-top: 5px; }
                  body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-main .app-left-block-name small {
                    color: #909193; }
          body #chat-app-body .app-left-block .nav-tabs li:last-child {
            -webkit-border-bottom-left-radius: 7px;
            -moz-border-bottom-left-radius: 7px;
            -ms-border-bottom-left-radius: 7px;
            border-bottom-left-radius: 7px; }
    body #chat-app-body .app-right-block {
      float: left;
      width: 70%; }
      body #chat-app-body .app-right-block .app-header-right {
        height: 65px;
        background-color: #FFFFFF;
        -webkit-border-top-right-radius: 7px;
        -moz-border-top-right-radius: 7px;
        -ms-border-top-right-radius: 7px;
        border-top-right-radius: 7px; }
        body #chat-app-body .app-right-block .app-header-right .app-header-right-info {
          margin: 12px 0 0 15px;
          float: left; }
          body #chat-app-body .app-right-block .app-header-right .app-header-right-info img {
            width: 40px;
            margin-right: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
          body #chat-app-body .app-right-block .app-header-right .app-header-right-info span {
            text-transform: uppercase;
            font-weight: 600;
            color: #909193; }
        body #chat-app-body .app-right-block .app-header-right .app-settings {
          margin: 20px 20px 0 0; }
      body #chat-app-body .app-right-block .tab-content {
        width: 100%;
        height: 415px;
        float: left;
        overflow-y: auto; }
        body #chat-app-body .app-right-block .tab-content .chat-panel {
          padding: 15px 25px;
          float: left;
          width: 100%;
          height: 100%; }
          body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block {
            max-width: 70%;
            padding: 15px;
            margin-bottom: 25px;
            list-style: none;
            color: #909193;
            position: relative;
            clear: both; }
            body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block p {
              margin-bottom: 0;
              font-size: 13px;
              line-height: 20px; }
            body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-left {
              background-color: #fff;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              border-radius: 5px; }
              body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-left:before {
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-bottom-color: #fff;
                border-top: 0;
                border-left: 0; }
              body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-left span {
                position: absolute;
                width: 70px;
                right: -70px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                height: 20px;
                font-size: 12px;
                text-align: right; }
              body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-left p {
                color: #696969; }
            body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-right {
              background-color: #5DC3B5;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              border-radius: 5px; }
              body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-right:after {
                content: '';
                position: absolute;
                right: -13px;
                top: 15%;
                width: 0;
                height: 0;
                border: 15px solid transparent;
                border-left-color: #5DC3B5;
                border-right: 0;
                border-top: 0; }
              body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-right span {
                position: absolute;
                width: 70px;
                left: -70px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
                height: 20px;
                font-size: 12px;
                text-align: left; }
              body #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-right p {
                color: #fff; }
      body #chat-app-body .app-right-block .app-footer-right {
        background-color: #E6E7E8;
        height: 70px;
        float: left;
        width: 100%;
        padding: 15px;
        -webkit-border-bottom-right-radius: 7px;
        -moz-border-bottom-right-radius: 7px;
        -ms-border-bottom-right-radius: 7px;
        border-bottom-right-radius: 7px; }
        body #chat-app-body .app-right-block .app-footer-right .attachment {
          width: 5%;
          height: 100%;
          text-align: left; }
          body #chat-app-body .app-right-block .app-footer-right .attachment img {
            height: 100%; }
        body #chat-app-body .app-right-block .app-footer-right input {
          width: 81%;
          height: 40px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          border: 0;
          padding: 5px 7px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          body #chat-app-body .app-right-block .app-footer-right input:focus {
            outline: 0; }
            body #chat-app-body .app-right-block .app-footer-right input:focus + button {
              background-color: #5DC3B5; }
        body #chat-app-body .app-right-block .app-footer-right button {
          width: 12%;
          height: 40px;
          background-color: #969899;
          border: 0;
          color: #fff;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          body #chat-app-body .app-right-block .app-footer-right button:hover {
            background-color: #5DC3B5; }
  body #new-msg-notification {
    height: 100px;
    width: 300px;
    position: fixed;
    right: -350px;
    top: 40px;
    background-color: #fff;
    z-index: 9;
    padding: 15px;
    background-color: #f1f1f2;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px; }
    body #new-msg-notification .notification-icon {
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: #5DC3B5;
      float: left;
      margin-top: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      body #new-msg-notification .notification-icon img {
        width: 30px; }
    body #new-msg-notification .new-msg-notification-main {
      float: left;
      margin-left: 10px;
      width: 70%; }
      body #new-msg-notification .new-msg-notification-main .new-msg-notification-name {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #696969; }
        body #new-msg-notification .new-msg-notification-main .new-msg-notification-name .name-meta {
          font-weight: 600;
          font-size: 16px; }
        body #new-msg-notification .new-msg-notification-main .new-msg-notification-name small {
          font-size: 14px; }

@media all and (max-width: 500px) {
  body .container {
    width: 100%;
    padding: 5px; }
    body .container #chat-app-body {
      margin: 125px 0 25px; }
      body .container #chat-app-body .app-left-block {
        width: 100%;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px; }
        body .container #chat-app-body .app-left-block .back-arrow {
          line-height: 65px;
          margin-right: 15px; }
      body .container #chat-app-body .app-right-block {
        width: 100%;
        display: none;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px; }
        body .container #chat-app-body .app-right-block .back-arrow {
          line-height: 65px;
          margin-left: 15px; }
          body .container #chat-app-body .app-right-block .back-arrow img {
            transform: rotate(180deg); }
        body .container #chat-app-body .app-right-block .app-header-right {
          -webkit-border-radius: 7px;
          -moz-border-radius: 7px;
          -ms-border-radius: 7px;
          border-radius: 7px; }
          body .container #chat-app-body .app-right-block .app-header-right .app-header-right-info span {
            font-size: 12px; }
          body .container #chat-app-body .app-right-block .app-header-right .app-settings {
            margin: 20px 10px 0 0;
            width: 20px; }
        body .container #chat-app-body .app-right-block .app-footer-right .attachment {
          width: 10%; }
        body .container #chat-app-body .app-right-block .app-footer-right input {
          width: 62%; }
        body .container #chat-app-body .app-right-block .app-footer-right button {
          width: 24%; }
        body .container #chat-app-body .app-right-block .tab-content .chat-panel .chat-block {
          max-width: 100%;
          padding: 15px;
          margin-bottom: 40px; }
          body .container #chat-app-body .app-right-block .tab-content .chat-panel .chat-block span {
            top: auto;
            bottom: -30px;
            margin: auto;
            font-size: 10px; }
          body .container #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-left span {
            left: 0;
            right: auto;
            text-align: left; }
          body .container #chat-app-body .app-right-block .tab-content .chat-panel .chat-block.chat-block-right span {
            left: auto;
            right: 0;
            text-align: right; } }
@media all and (min-width: 320px) and (max-width: 370px) {
  body #new-msg-notification {
    width: 250px;
    top: 10px;
    height: 60px;
    padding: 5px 10px; }
    body #new-msg-notification .notification-icon {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-top: 5px; }
      body #new-msg-notification .notification-icon img {
        width: 20px; }
    body #new-msg-notification .new-msg-notification-main {
      width: 76%;
      margin-top: 5px; }
      body #new-msg-notification .new-msg-notification-main .name-meta {
        margin: 0;
        font-size: 14px;
        margin-bottom: 5px; }
      body #new-msg-notification .new-msg-notification-main small {
        font-size: 12px; }
  body .container #chat-app-body {
    margin: 90px 0 25px; }
    body .container #chat-app-body .app-left-block .nav-tabs li {
      height: 75px; }
      body .container #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body {
        margin-top: 3px; }
        body .container #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-main .app-left-block-name h4 {
          font-size: 16px;
          margin: 3px 0 5px 0; }
        body .container #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-main .app-left-block-name small {
          font-size: 14px; }
        body .container #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-time {
          top: -7px; } }
@media all and (min-width: 375px) and (max-width: 500px) {
  body #new-msg-notification {
    width: 250px;
    top: 10px;
    height: 70px; }
    body #new-msg-notification .notification-icon {
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-top: -3px; }
      body #new-msg-notification .notification-icon img {
        width: 25px; }
    body #new-msg-notification .name-meta {
      margin-top: 0; }
  body #chat-app-body .app-left-block .nav-tabs li {
    height: 92px; }
    body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-name {
      margin-top: 10px; }
    body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body {
      margin-top: 5px; }
      body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-avatar .avatar-icon:before {
        top: 5px; } }
@media all and (min-width: 510px) and (max-width: 650px) {
  body .container {
    width: 100%; }
    body .container .app-left-block-avatar {
      padding: 5px; }
    body .container .app-left-block-main {
      padding-right: 7px; }
    body .container .back-arrow {
      display: none !important; }
    body .container #chat-app-body .app-right-block .app-footer-right .attachment {
      width: 8%; }
    body .container #chat-app-body .app-right-block .app-footer-right input {
      width: 70%; }
    body .container #chat-app-body .app-right-block .app-footer-right button {
      width: 19%; } }
@media all and (min-width: 660px) and (max-width: 768px) {
  body .container {
    width: 95%; }
    body .container #chat-app-body .app-right-block .app-footer-right .attachment {
      width: 8%; }
    body .container #chat-app-body .app-right-block .app-footer-right input {
      width: 76%;
      margin-left: 0; } }
@media all and (min-width: 1024px) and (max-width: 1300px) {
  body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body {
    margin-top: 3px; }
    body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-time {
      top: -8px; } }
@media all and (min-width: 1310px) and (max-width: 1500px) {
  body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body {
    margin-top: 0; }
    body #chat-app-body .app-left-block .nav-tabs li a .app-left-block-body .app-left-block-time {
      top: -8px; } }

/*# sourceMappingURL=style.css.map */
