@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* import mixins */
@import 'mixins.scss';

/* import color */
@import 'colors.scss';


/* style default placeholder styles */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $light-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $light-gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $light-gray;
}
body{
	font-family: 'Open Sans', sans-serif;
	background: $bg-color;
	.container{
		width: 80%;
	}
	#chat-app-body{
		max-height: 550px;
		width: 100%;
		margin: 170px 0;
		float: left;
		overflow: auto;
		background-color: $chat-body-gray;
		@include border-radius(7px);
		@include box-shadow(0, 0px, 15px, rgba(88, 85, 85, 0.68));
		
		.app-left-block{
			float: left;
			width: 30%;
			height: 100%;
			overflow: hidden;
			@include border-bottom-left-radius(7px);
			
			.app-header-left{
				height: 65px;
				background-color: $light-gray;
				@include border-top-left-radius(7px);
				@include border-bottom-left-radius(7px);
			}
			.app-header-buttons{
				float: left;
				width: 100%;
				background-color: $dark-gray;
				position: relative;
				.search-chat-users{
					position: absolute;
					top: 0px;
					width: 98%;
					border-radius: 0;
					border: 0;
					height: 0px;
					left: 0;
					right: 0;
					margin: auto;
					padding: 7px;
					@include transition (all, 0.5s, ease);
					
					&:focus{
						outline: 0;
					}
				}
				&.open{
					.search-chat-users{
						height: 35px;
						top: -39px;
					}
				}
				a{
					width: 33%;
					float: left;
					padding: 0;
					text-align: center;
					height: 45px;
					line-height: 45px;
					background-color: $dark-gray;
					
					@include box-sizing(border-box);
					@include transition (all, 0.5s, ease);
					&:not(:nth-child(3)){
						margin: 0;
						border-left: 1px solid #d1d3d4;
					}
					
					&.active{
						background-color: $green-blue;

					}
					&:hover{
						background-color: $green-blue;
					}
					img{
						height: 20px;
					}
				}
				.msg{
					background: url('../images/speech.png') no-repeat;
					background-position: 50% 50%;
					background-size: 24px;
					
					&.active{
					}
				}
				.contacts{
					background: url('../images/user.png') no-repeat;
					background-position: 50% 50%;
					background-size: 24px;
					&.active,
					&:hover{
					    background: $green-blue url('../images/user-active.png') no-repeat;
					    background-position: 50% 50%;
						background-size: 24px;
					}
				}
				.search-contacts{
					background: url('../images/search.png') no-repeat;
					background-position: 50% 50%;
					background-size: 24px;
					&.active,
					&:hover{
						background: $green-blue url('../images/search-active.png') no-repeat;
						background-position: 50% 50%;
					    background-size: 24px;
					}
					&[aria-expanded="true"]{
						@extend .active;
					}
				}
			}
			
			.nav-tabs{
				height: 440px;
				overflow-y: auto;
				float: left;
				width: 100%;
				@include border-bottom-left-radius(7px);
				.search-chat-users{
					width: 100%;
					border: 0;
					height: 35px;
					background-color: #fff;
					float: left;
					padding: 5px;
					
					&:focus{
						outline: 0;
					}
				}
				li{
					width: 100%;
					height: 74px;
					background: #fff;
					
					&.active{
						background-color: $light-gray;
						a{
							background-color: $light-gray;
						}
						
					}
					&.new-msg{
						a{
							.app-left-block-body{
								.app-left-block-main{
									.app-left-block-name{
										width: 80%;
										
										h4{
											color: $text-gray;
										}
										small{
											color: $green-blue;
										}
									}
								}
							}	
						}	
						
						&:before{
							content: "1";
							position: absolute;
							right: 10px;
							top: 0;
							bottom: 0;
							margin: auto;
							width: 20px;
							height: 20px;
							border-radius: 0;
							line-height: 20px;
							text-align: center;
							padding: 0;
							font-size: 12px;
							z-index: 9;
							color: #fff;
							font-weight: bold;
							background-color: $new-msg-red;
						}
					}
					a{
						margin: 0;
						border: 0;
						background-color: #fff;
						@include border-radius(0px);
						
						.app-left-block-body{
						    position: relative;
							padding: 0;
							margin-top: 6px;
							.app-left-block-avatar{
								.avatar-icon{
									position: relative;
									height: 100%;
									&:before{
										content: "";
										position: absolute;
										top: 0px;
										left: 0;
										width: 12px;
										height: 12px;
										-webkit-border-radius: 50%;
										-moz-border-radius: 50%;
										-ms-border-radius: 50%;
										border-radius: 50%;
										background-color: $green-blue;
									}
									img{
										width: 100%;
										@include border-radius(50%);
									}
									&.offline{
										&:before{
											background-color: $new-msg-red;
										}
									}
								}
							}
							.app-left-block-time{
								position: absolute;
								top: -11px;
								right: 10px;
								padding-right: 0;
								.time-meta{
									color: $border-gray;
									font-size: 10px;
								}
							}
							.app-left-block-main{
								padding-left: 0;
								.app-left-block-name{
									width: 90%;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
									h4{
										color: $green-blue;
										text-transform: uppercase;
										font-size: 14px;
										font-weight: bold;
										margin-bottom: 3px;
										margin-top: 5px;
									}
									small{
										color: $text-gray;
									}
								}
							}
							.badge{
								
							}
						}
					}
					&:last-child{
					@include border-bottom-left-radius(7px);
					}
				}
			}
		}
		.app-right-block{
			float: left;
			width: 70%;
			
			.app-header-right{
				height: 65px;
				background-color: #FFFFFF;
				@include border-top-right-radius(7px);
				
				.app-header-right-info{
					margin: 12px 0 0 15px;
					float: left;
					img{
						width: 40px;
						margin-right: 10px;
						@include border-radius(50%);
					}
					span{
						text-transform: uppercase;
						font-weight: 600;
						color: $text-gray;
					}
				}
				.app-settings{
					margin: 20px 20px 0 0;
				}
			}
			
			.tab-content{
				width: 100%;
				height: 415px;
				float: left;
				overflow-y: auto;
				.chat-panel{
					padding: 15px 25px;
					float: left;
					width: 100%;
					height: 100%;
					.chat-block{
					    max-width: 70%;
						padding: 15px;
						margin-bottom: 25px;
						list-style: none;
						color: $text-gray;
						position: relative;
						clear: both;
					
						p{
							margin-bottom: 0;
							font-size: 13px;
							line-height: 20px;
						}
						
						&.chat-block-left{
							background-color: #fff;
							@include border-radius(5px);
							&:before{
							    content: '';
								position: absolute;
								top: -10px;
								left: 0;
								width: 0;
								height: 0;
								border: 20px solid transparent;
								border-bottom-color: #fff;
								border-top: 0;
								border-left: 0;
								
							}
							span{
								position: absolute;
								width: 70px;
								right: -70px;
								top: 0;
								bottom: 0;
								margin-top: auto;
								margin-bottom: auto;
								height: 20px;
								font-size: 12px;
								text-align: right;
							}
							p{
								color: $chat-msg;
							}
						}
						&.chat-block-right{
							background-color: $green-blue;
							@include border-radius(5px);
							&:after{
							    content: '';
								position: absolute;
								right: -13px;
								top: 15%;
								width: 0;
								height: 0;
								border: 15px solid transparent;
								border-left-color: $green-blue;
								border-right: 0;
								border-top: 0;

							}
							span{
								position: absolute;
								width: 70px;
								left: -70px;
								top: 0;
								bottom: 0;
								margin-top: auto;
								margin-bottom: auto;
								height: 20px;
								font-size: 12px;
								text-align: left;
							}
							p{
								color: #fff;
							}
						}
					}
				}
			}
			.app-footer-right{
				background-color: $dark-gray;
				height: 70px;
				float: left;
				width: 100%;
				padding: 15px;
				@include border-bottom-right-radius(7px);
				
				.attachment{
					width: 5%;
					height: 100%;
					text-align: left;
					img{
						height: 100%;
					}
				}
				input{
					width: 81%;
					height: 40px;
					@include border-radius(3px);
					border: 0;
					padding: 5px 7px;
					@include transition (all, 0.5s, ease);
					&:focus{
						outline: 0;
						
						&+button{
							background-color: $green-blue;
						}
					}
				}
				button{
					width: 12%;
					height: 40px;
					background-color: #969899;
					border: 0;
					color: #fff;
					@include border-radius(3px);
					@include transition (all, 0.5s, ease);
					
					&:hover{
						background-color: $green-blue;
					}
				}
			}
			
		}
	
	}
		#new-msg-notification{
		    height: 100px;
			width: 300px;
			position: fixed;
			right: -350px;
			top: 40px;
			background-color: #fff;
			z-index: 9;
			padding: 15px;
			background-color: $chat-body-gray;
			@include border-radius(7px);
			
			.notification-icon{
				width: 60px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				background-color: $green-blue;
				float: left;
				margin-top: 5px;
				@include border-radius(50%);
				
				img{
					width: 30px;
				}
			}
			.new-msg-notification-main{
				float: left;
				margin-left: 10px;
				width: 70%;
				
				.new-msg-notification-name{
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $chat-msg;
					
					.name-meta{
						font-weight: 600;
						font-size: 16px;
					}
					small{
						font-size: 14px;
					}
				}
			}
		}
}

@media all and (max-width: 500px){
	body {
	
		.container{
			width: 100%;
			padding: 5px;
			
			#chat-app-body{
				margin: 125px 0 25px;
				.app-left-block{
					width: 100%;
					@include border-radius(7px);
					
					.back-arrow{
						line-height: 65px;
						margin-right: 15px;
					}
				}
				.app-right-block{
					width: 100%;
					display: none;
					@include border-radius(7px);
					
					.back-arrow{
						line-height: 65px;
						margin-left: 15px;
						img{
							transform: rotate(180deg);
						}
						
					}
					.app-header-right{
						@include border-radius(7px);
						.app-header-right-info{
							
							span{
								font-size: 12px;
							}
						}
						.app-settings{
							margin: 20px 10px 0 0;
							width: 20px;
						}
					
					}
					.app-footer-right{
						.attachment{
							width: 10%;
						}
						input {
							width: 62%;
						}
						button{
							width: 24%;
						}
					}
						.tab-content{
							.chat-panel {
								.chat-block{
									max-width: 100%;
									padding: 15px;
									margin-bottom: 40px;
									span{
										top: auto;
										bottom: -30px;
										margin: auto;
										font-size: 10px;
									}
									&.chat-block-left{
										span{
											left: 0;
											right: auto;
											text-align: left;
										}
									}
									&.chat-block-right{
										span{
											left: auto;
											right: 0;
											text-align: right;
										}
									}
								}
									
							}
						}
				}
			}
			
		}
	}
}
@media all and (min-width: 320px) and (max-width: 370px){
	body{
		#new-msg-notification{
			width: 250px;
			top: 10px;
			height: 60px;
			padding: 5px 10px;
			.notification-icon{
				width: 40px;
				height: 40px;
				line-height: 40px;
				margin-top: 5px;
				
				img{
					width: 20px;
				}
			}
			.new-msg-notification-main{
			    width: 76%;
				margin-top: 5px;
				.name-meta{
					margin: 0;
					font-size: 14px;
					margin-bottom: 5px;
				}
				small{
					font-size: 12px;
				}
			}
			
		}
		.container{
			#chat-app-body{
				margin: 90px 0 25px;
				.app-left-block{
					 .nav-tabs{
						li{
							height: 75px;
							a{
								.app-left-block-body{
									margin-top: 3px;
									.app-left-block-main {
										.app-left-block-name{
											h4{
												font-size: 16px;
												margin: 3px 0 5px 0;
											}
											small{
												font-size: 14px;
											}
										}
									}
									.app-left-block-time{
										top: -7px;
									}
								}
							}
						}
					 }
				}
			}
		}
	}
}
@media all and (min-width: 375px) and (max-width: 500px){
	body{
	
		#new-msg-notification{
			width: 250px;
			top: 10px;
			height: 70px;
			.notification-icon{
				width: 45px;
				height: 45px;
				line-height: 45px;
				margin-top: -3px;
				img{
					width: 25px;
				}
			}
			.name-meta{
				margin-top: 0;
			}
		}
		 #chat-app-body{
			 .app-left-block{
				 .nav-tabs{
					li{
						height: 92px;
						
						a{
							.app-left-block-name{
								margin-top: 10px;
							}
							.app-left-block-body{
								margin-top: 5px;
								.app-left-block-avatar{
									.avatar-icon{
										&:before{
											top: 5px;
										}
									}
								}
							}
						}
					}
				 }
			 }
		 }
	}
}
@media all and (min-width: 510px) and (max-width: 650px){
	body{
	.container{
		width: 100%;
		.app-left-block-avatar{
			padding: 5px;
		}
		.app-left-block-main{
			padding-right: 7px;
		}
		.back-arrow{
			display: none !important;
		}
		#chat-app-body {
			.app-right-block {
				.app-footer-right{
					.attachment{
						width: 8%;
					}
					input{
						width: 70%;
					}
					button{
						width: 19%;
					}
				}
			}
		}
	}
		
	}
	
}
@media all and (min-width: 660px) and (max-width: 768px){
	body{
		.container{
			width: 95%;
			#chat-app-body{
				.app-left-block{
					.app-left-block-avatar{
					}
				}
				.app-right-block{
					.app-footer-right{
						.attachment{
							width: 8%;
						}
						input{
							width: 76%;
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}
@media all and (min-width: 1024px) and (max-width: 1300px){
	body{
		#chat-app-body{
			.app-left-block {
				.nav-tabs{
					 li{
						a{
							.app-left-block-body{
								margin-top: 3px;
								
								 .app-left-block-time{
									top: -8px;
								 }
							}
						}
					 }
				}
			}
		}
	}

}
@media all and (min-width: 1310px) and (max-width: 1500px){
	body{
		#chat-app-body{
			.app-left-block {
				.nav-tabs{
					 li{
						a{
							.app-left-block-body{
								margin-top: 0;
								.app-left-block-time{
									top: -8px;
								}
							}
						}
					 }
				}
			}
		}
	}
}